/* ------------modificaciones de bootstrap---------- */

.nav__borde--color {
        box-shadow: 0 4px 18px -2px #8e7e27;
}

nav div div img {
        width: 140px;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
}

.ubicacion-logo {
        margin-left: 135px;
}