/* ------------------------PAGINA CONTACTO---------------------------- */

/* ---------edicion de divs--------- */


.form__titulo--mostaza {
    color: $formucolor;
    text-transform: uppercase;
    font-size: 3rem;
}

form {
    color: $formucolor;
    margin-top: 30px;
    font-size: 1.8rem;
}

.mapsGoogle {
    margin-bottom: 10px;
}

.bg-cajas_color{
    background-color: $amarilloMain;

}


.bg-contacto--form {
    background: rgba(7, 7, 7, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}