.fuenteMontse {
    font-family: 'Montserrat', sans-serif;
}

.fuenteRoboto{
    font-family: 'Roboto Condensed', sans-serif;
}

.card_background--color {
    background-color: $amarilloServ;
}

.titulos-modal_colorSize{
    font-size: 3.6rem;
    line-height: 3rem;
    letter-spacing: 0.507em;
    font-weight:800;
}