/* --------------------------- PAGINA SERVICIOS------------------------ */

.parraServ{
    color: #a7a9be ;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn:hover {
    -webkit-animation: animate__shakeX ;
    animation: animate__shakeX ;
}