/* --------------------------- PAGINA SERVICIOS------------------------ */
.btn:hover {
    -webkit-animation: animate__shakeX ;
    animation: animate__shakeX ;
}

.fondoServicios{
    background-color: $amarilloServ;
}