#cuerpo {
    align-items: center;
    display: flex;
    justify-content: center;

}

.nombre {
    align-items: center;
    display: flex;
    justify-content: center;
}

.fondo {
    background-color : yellow;
    font-size: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
}

.inputCSS{
    align-items: center;
    display: flex;
    justify-content: center;
}

// .botonCSS{
//     align-items: center;
//     display: flex;
//     justify-content: center;
// }

.textoCSS {
    align-items: center;
    display: flex;
    justify-content: center;
}


.valido {
    border: 2px solid green;
}

.invalido {
    border: 2px solid red;
}